#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  #main {
    #label {
      width: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: 52px;
      font-weight: 600;
      margin-bottom: 60px;
    }
    #email {
      width: calc(100% - 6px);
      height: 60px;
      border-width: 0.5px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 25%);
      border-bottom-width: 0px;
    }
    #nickname {
      width: calc(100% - 6px);
      height: 60px;
      margin-bottom: 20px;
      border-width: 0.5px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 25%);
    }
    #signup-button {
      &:hover {
        cursor: pointer;
      }
      background-color: #ECF9FF;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 280px;
    width: 400px;
  }
  #logo {
    position: fixed;
    left: 80px;
    top: 60px;
  }
}
